# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [26]:
import pandas as pd

In [27]:
dataset = pd.read_csv('census_data.csv')

In [28]:
dataset.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [29]:
dataset['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [30]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [31]:
dataset['income_bracket'] = dataset['income_bracket'].apply(label_fix)

In [32]:
dataset.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

### Perform a Train Test Split on the Data

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_data = dataset.drop('income_bracket',axis=1)
y_labels = dataset['income_bracket']
X_train, X_test, y_train, y_test = train_test_split(x_data,y_labels,test_size=0.3,random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [35]:
dataset.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [36]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [37]:
gender = tf.feature_column.categorical_column_with_vocabulary_list('gender', ['Female','Male'])
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [38]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [39]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [40]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y= y_train, batch_size=100, shuffle=True, num_epochs=1000)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [41]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\shiva\AppData\Local\Temp\tmp70_p5f5z
INFO:tensorflow:Using config: {'_session_config': None, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_log_step_count_steps': 100, '_keep_checkpoint_every_n_hours': 10000, '_keep_checkpoint_max': 5, '_tf_random_seed': 1, '_save_summary_steps': 100, '_model_dir': 'C:\\Users\\shiva\\AppData\\Local\\Temp\\tmp70_p5f5z'}

** Train your model on the data, for at least 5000 steps. **

In [42]:
model.train(input_fn=input_func, steps = 5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\shiva\AppData\Local\Temp\tmp70_p5f5z\model.ckpt.
INFO:tensorflow:loss = 69.3147, step = 1
INFO:tensorflow:global_step/sec: 140.125
INFO:tensorflow:loss = 592.863, step = 101 (0.719 sec)
INFO:tensorflow:global_step/sec: 145.789
INFO:tensorflow:loss = 129.897, step = 201 (0.689 sec)
INFO:tensorflow:global_step/sec: 176.69
INFO:tensorflow:loss = 194.835, step = 301 (0.562 sec)
INFO:tensorflow:global_step/sec: 195.632
INFO:tensorflow:loss = 695.317, step = 401 (0.516 sec)
INFO:tensorflow:global_step/sec: 172.489
INFO:tensorflow:loss = 291.644, step = 501 (0.575 sec)
INFO:tensorflow:global_step/sec: 196.707
INFO:tensorflow:loss = 65.0791, step = 601 (0.512 sec)
INFO:tensorflow:global_step/sec: 172.106
INFO:tensorflow:loss = 150.449, step = 701 (0.577 sec)
INFO:tensorflow:global_step/sec: 171.69
INFO:tensorflow:loss = 233.613, step = 801 (0.581 sec)
INFO:tensorflow:global_step/sec: 150.969
INFO:tensorflow:loss = 259.656, step = 901 (0.665 sec)
INFO:tensorflow:global_step/sec: 167.939
INFO:tensorflow:loss = 128.894, step = 1001 (0.597 sec)
INFO:tensorflow:global_step/sec: 191.846
INFO:tensorflow:loss = 113.67, step = 1101 (0.520 sec)
INFO:tensorflow:global_step/sec: 189.946
INFO:tensorflow:loss = 68.9465, step = 1201 (0.523 sec)
INFO:tensorflow:global_step/sec: 189.292
INFO:tensorflow:loss = 56.5628, step = 1301 (0.535 sec)
INFO:tensorflow:global_step/sec: 186.346
INFO:tensorflow:loss = 140.45, step = 1401 (0.534 sec)
INFO:tensorflow:global_step/sec: 172.273
INFO:tensorflow:loss = 28.6709, step = 1501 (0.580 sec)
INFO:tensorflow:global_step/sec: 179.212
INFO:tensorflow:loss = 151.234, step = 1601 (0.562 sec)
INFO:tensorflow:global_step/sec: 167.901
INFO:tensorflow:loss = 148.763, step = 1701 (0.593 sec)
INFO:tensorflow:global_step/sec: 192.16
INFO:tensorflow:loss = 90.4106, step = 1801 (0.524 sec)
INFO:tensorflow:global_step/sec: 187.113
INFO:tensorflow:loss = 78.8245, step = 1901 (0.531 sec)
INFO:tensorflow:global_step/sec: 210.834
INFO:tensorflow:loss = 32.4259, step = 2001 (0.474 sec)
INFO:tensorflow:global_step/sec: 202.506
INFO:tensorflow:loss = 46.2008, step = 2101 (0.494 sec)
INFO:tensorflow:global_step/sec: 196.123
INFO:tensorflow:loss = 41.5796, step = 2201 (0.509 sec)
INFO:tensorflow:global_step/sec: 183.746
INFO:tensorflow:loss = 95.224, step = 2301 (0.544 sec)
INFO:tensorflow:global_step/sec: 190.8
INFO:tensorflow:loss = 33.7821, step = 2401 (0.520 sec)
INFO:tensorflow:global_step/sec: 193.471
INFO:tensorflow:loss = 89.5164, step = 2501 (0.520 sec)
INFO:tensorflow:global_step/sec: 183.667
INFO:tensorflow:loss = 28.7293, step = 2601 (0.544 sec)
INFO:tensorflow:global_step/sec: 191.251
INFO:tensorflow:loss = 38.879, step = 2701 (0.523 sec)
INFO:tensorflow:global_step/sec: 198.872
INFO:tensorflow:loss = 44.3125, step = 2801 (0.503 sec)
INFO:tensorflow:global_step/sec: 196.876
INFO:tensorflow:loss = 29.1281, step = 2901 (0.508 sec)
INFO:tensorflow:global_step/sec: 193.094
INFO:tensorflow:loss = 31.4699, step = 3001 (0.518 sec)
INFO:tensorflow:global_step/sec: 185.208
INFO:tensorflow:loss = 35.9304, step = 3101 (0.541 sec)
INFO:tensorflow:global_step/sec: 195.354
INFO:tensorflow:loss = 37.8714, step = 3201 (0.512 sec)
INFO:tensorflow:global_step/sec: 189.859
INFO:tensorflow:loss = 28.9919, step = 3301 (0.528 sec)
INFO:tensorflow:global_step/sec: 193.586
INFO:tensorflow:loss = 35.4822, step = 3401 (0.515 sec)
INFO:tensorflow:global_step/sec: 185.889
INFO:tensorflow:loss = 48.97, step = 3501 (0.538 sec)
INFO:tensorflow:global_step/sec: 185.036
INFO:tensorflow:loss = 43.7501, step = 3601 (0.541 sec)
INFO:tensorflow:global_step/sec: 189.092
INFO:tensorflow:loss = 68.5331, step = 3701 (0.524 sec)
INFO:tensorflow:global_step/sec: 176.834
INFO:tensorflow:loss = 31.8726, step = 3801 (0.570 sec)
INFO:tensorflow:global_step/sec: 180.515
INFO:tensorflow:loss = 193.163, step = 3901 (0.553 sec)
INFO:tensorflow:global_step/sec: 166.36
INFO:tensorflow:loss = 35.9463, step = 4001 (0.602 sec)
INFO:tensorflow:global_step/sec: 177.779
INFO:tensorflow:loss = 61.9762, step = 4101 (0.561 sec)
INFO:tensorflow:global_step/sec: 182.966
INFO:tensorflow:loss = 44.3013, step = 4201 (0.547 sec)
INFO:tensorflow:global_step/sec: 188.213
INFO:tensorflow:loss = 44.8803, step = 4301 (0.531 sec)
INFO:tensorflow:global_step/sec: 189.422
INFO:tensorflow:loss = 62.3832, step = 4401 (0.527 sec)
INFO:tensorflow:global_step/sec: 186.071
INFO:tensorflow:loss = 67.2539, step = 4501 (0.538 sec)
INFO:tensorflow:global_step/sec: 183.672
INFO:tensorflow:loss = 31.3329, step = 4601 (0.546 sec)
INFO:tensorflow:global_step/sec: 186.762
INFO:tensorflow:loss = 113.567, step = 4701 (0.535 sec)
INFO:tensorflow:global_step/sec: 189.796
INFO:tensorflow:loss = 58.5328, step = 4801 (0.526 sec)
INFO:tensorflow:global_step/sec: 185.725
INFO:tensorflow:loss = 49.6352, step = 4901 (0.537 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\shiva\AppData\Local\Temp\tmp70_p5f5z\model.ckpt.
INFO:tensorflow:Loss for final step: 55.7359.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [43]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(x = X_test, batch_size=len(X_test), shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [44]:
predictions = list(model.predict(input_fn=pred_input_func))

INFO:tensorflow:Restoring parameters from C:\Users\shiva\AppData\Local\Temp\tmp70_p5f5z\model.ckpt-5000

** Each item in your list will look like this: **

In [45]:
predictions[0]

{'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'logistic': array([ 0.18604957], dtype=float32),
 'logits': array([-1.47588634], dtype=float32),
 'probabilities': array([ 0.81395042,  0.18604957], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [46]:
final_pred = []
for pred in predictions:
    final_pred.append(pred['class_ids'][0])

In [47]:
final_pred[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [48]:
from sklearn.metrics import classification_report

In [49]:
print(classification_report(y_test, final_pred))

             precision    recall  f1-score   support

          0       0.85      0.96      0.90      7436
          1       0.77      0.44      0.56      2333

avg / total       0.83      0.83      0.82      9769

# Great Job!